.main-content {
    background-color: #f8f9fa;
    min-height: 100vh;
    width: 100%;
}
.user-status-verified {
    color: white;
}
.user-status-unverified {
     color: white;
}
.user-status-enabled {
    color: white;
}
.user-status-disabled {
    color: white;
}
.action-buttons .btn {
    margin-right: 5px;
    margin-bottom: 5px;
}
.table th {
    border-top: none;
    background-color: #f8f9fa;
    font-weight: 600;
}